@import './vendor/normalize';
@import './partials/base';

// Class assignment code below this line

.body, html{
    display: grid;
    justify-content: center;
    height: 150%;
}

//first
.navigation {
    grid-area: header;
}
//L side bar
.content-wrapper{
    grid-area: sidebar;
}


//R side bar - content area
.content-area{
    grid-area: content;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:3;
    grid-column-end: 4;
}

//footer

.footer{
    grid-area: footer;
}



.page-wrapper {
    display: grid;
    grid-template-rows: 100px 1fr 75px 75px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header header"
                        "sidebar content"
                        "footer footer";

   
   
}


@media (min-width: 1024px) {
    .page-wrapper{
        width: 1000px;
       grid-template-columns: repeat(200px, 1fr);
        grid-template-rows: 70px 1fr 50px;
    }
}
.header, .footer, .featured-items {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns:1fr;
}
    
//dont delete
.featured-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap:10px;
    grid-column-start: 1;
    grid-column-end: 3;

}
.feature-one {  
    grid-column-start: 1;
    grid-column-end: 3;
}