@import './vendor/normalize';
@import './partials/base';

// Class assignment code below this line

.page-wrapper{
    display: grid;
    grid-template-rows: 50px 600px 150px;
    
}

.featured-items {
    display: grid;
  
}
.feature-one {
    grid-column-start: 1;
    grid-column-end: 3;
}
@media (min-width: 1024px) {
    .page-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}
    
.content-wrapper {
grid-column-start: 1;
grid-column-end: 2;

}
.content-area {
    grid-column-start: 2;
    grid-column-end: 3;
}
